<!-- Modal -->
<div class="open-dialog modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Open Drill</h4>
            </div>
            <div class="modal-body" style="min-height: 450px">

                <div class="input-group">
                    <input type="search" ng-model="search" class="form-control" placeholder="Search">
                    <span class="input-group-btn">
                        <button ng-click="search = ''" class="btn btn-default" type="button">
                            <i class="fa fa-times-circle"></i>
                        </button>
                    </span>
                </div>

                <div class="list-group">
                    <a class="list-group-item" dir-paginate="drill in drills | itemsPerPage: perPage" total-items="drillCount" current-page='page'>
                        <table width="100%">
                            <tr>
                                <td class="drill-img">
                                    <img src="" style="width: 100px; height: 100px" />
                                </td>
                                <td class="drill-desc">
                                    <div>
                                        <a ng-click="open(drill)" data-toggle="modal" data-target="#myModal">
                                            <h3 class="drill-title">{{drill.name}}</h3>
                                        </a>
                                    </div>
                                    <p>
                                        {{drill.description}}
                                    </p>
                                    <table width="100%">
                                        <tr>
                                            <td class="small-text">Owned by {{drill.owner}}</td>
                                            <td class="small-text">Last edited {{drill.updatedDate | date}}</td>
                                        </tr>
                                    </table>
                                </td>
                                <td>
                                    <a ng-click="delete(drill)">
                                        <i class="fa fa-times fa-lg delete-button"></i>
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </a>
                </div>

            </div>
            <div class="modal-footer">
                <div class="col-md-9">
                    <dir-pagination-controls on-page-change="pageChanged(newPageNumber)" class=""></dir-pagination-controls>
                </div>
                <div class="col-md-3">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>