.drill-img {
    padding: 5px;
}

.drill-desc {
    padding-left: 5px;
    padding-right: 5px;
}

.drill-title {
    margin: 0;
    cursor: pointer;
}

.open-dialog .list-group-item {
    padding: 5px;
}

.open-dialog .pagination {
    display: block;
}

.open-dialog .small-text {
    font-style: italic;
    font-size: 10pt;
}