.user-detail {
    width: 50%;
    padding: 10px;
}

.user-detail .no-user-selected {
    font-size: 16px;
    margin-top: 20px;
}

.user-detail .heading {
    height: 32px;
    font-size: 18px;
    margin-top: 5px;
    border-bottom: solid 1px lightgrey;
}

.user-detail .row {
    margin: 0px;
    padding: 5px;
    border-bottom: solid 1px lightgray;
}