
.choose-music-dialog .list-group-item {
    padding: 5px;
}

.choose-music-dialog .pagination {
    display: block;
}

.choose-music-dialog .small-text {
    font-style: italic;
    font-size: 10pt;
}

.choose-music-dialog .delete-button {
    color: red;
    cursor: pointer;
}