<!-- Modal -->
<div class="choose-music-dialog modal fade" id="chooseMusicDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Choose Music</h4>
            </div>

            <div class="modal-body" style="min-height: 450px">
                <div class="input-group">
                    <input type="search" ng-model="searchOptions.searchText" class="form-control" placeholder="Search">
                    <span class="input-group-btn">
                        <button ng-click="searchOptions.searchText = ''" class="btn btn-default" type="button">
                            <i class="fa fa-times-circle"></i>
                        </button>
                    </span>
                    <span class="input-group-addon">
                        <input type="checkbox" ng-model="searchOptions.searchFiles" />&nbsp;
                        <i class="fa fa-file-audio-o"></i>&nbsp;Files
                    </span>
                    <span class="input-group-addon">
                        <input type="checkbox" ng-model="searchOptions.searchClips" />&nbsp;
                        <i class="fa fa-scissors"></i>&nbsp;Clips
                    </span>
                </div>

                <ul class="list-group">
                    <li class="list-group-item" dir-paginate="musicFile in musicFiles | itemsPerPage: perPage" total-items="musicFileCount" current-page='page'>
                        <div class="row">
                            <div class="col-md-12">
                                <span>
                                    <i class="fa " ng-class="{ 'fa-file-audio-o': $ctrl.isFile(musicFile), 'fa-scissors': $ctrl.isClip(musicFile) }"></i>
                                </span>
                                <span>
                                    <a class="title" ng-click="$ctrl.open(musicFile)">
                                        {{ musicFile.title }}
                                    </a>
                                </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 small-text text-left">{{ musicFile.fileName }}</div>
                            <div class="col-md-5 small-text text-left">Performed by {{ musicFile.performedBy }}</div>
                            <div class="col-md-3 small-text text-left">Length {{ musicFile.duration }}s</div>
                        </div>
                    </li>
                </ul>
                <div class="text-center">
                        {{musicFileCount}} items                                        
                </div>
            </div>
            
            <div class="modal-footer">
                <div class="col-md-3 text-left">
                    <button ng-click="upload()" ng-disabled="!$ctrl.isUserLoggedIn()" type="button" class="btn btn-default" data-dismiss="modal">Upload...</button>
                </div>
                <div class="col-md-6 text-center">
                    <dir-pagination-controls on-page-change="pageChanged(newPageNumber)" class=""></dir-pagination-controls>
                </div>
                <div class="col-md-3 text-right">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>