<!-- Modal -->
<div class="choose-music-dialog modal fade" id="chooseMusicDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Choose Music</h4>
            </div>
            <div class="modal-body" style="min-height: 450px">

                <div class="input-group">
                    <input type="search" ng-model="searchText" class="form-control" placeholder="Search">
                    <span class="input-group-btn">
                        <button ng-click="searchText = ''" class="btn btn-default" type="button">
                            <i class="fa fa-times-circle"></i>
                        </button>
                        <!-- <input type="checkbox"/>&nbsp;Files                            
                        <input type="checkbox"/>&nbsp;Clips                             -->
                    </span>
                    <span class="input-group-addon">
                        <input type="checkbox" />&nbsp;
                        <i class="fa fa-file-audio-o"></i>&nbsp;Files
                    </span>
                    <span class="input-group-addon">
                        <input type="checkbox" />&nbsp;
                        <i class="fa fa-scissors"></i>&nbsp;Clips
                    </span>
                </div>

                <ul class="list-group">
                    <!-- {{ drillCount }} -->
                    <li class="list-group-item" dir-paginate="musicFile in musicFiles | itemsPerPage: perPage" total-items="drillCount" current-page='page'>
                        <!-- <div class="row">
                            <div class="col-md-1">
                                <i class="fa fa-file fa-2x"></i>
                            </div>
                        </div> -->
                        <!-- <div class="col-md-11">
                            </div> -->
                        <div class="row">
                            <div class="col-md-12">
                                <span>
                                    <i class="fa fa-file-audio-o "></i>
                                </span>
                                <span>
                                    <a class="title" ng-click="$ctrl.open(musicFile)">
                                        {{ musicFile.title }}
                                    </a>
                                    <!-- <h4 class=""></h4> -->
                                </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 small-text text-left">{{ musicFile.fileName }}</div>
                            <div class="col-md-5 small-text text-left">Performed by {{ musicFile.performedBy }}</div>
                            <div class="col-md-3 small-text text-left">Length {{ musicFile.duration }}s</div>
                        </div>
                        <!-- <table width="100%">
                            <tr>
                                <td class="drill-desc">
                                    <div>
                                        <a ng-click="$ctrl.open(musicFile)">
                                            <h3 class="drill-title">{{ musicFile.title }}</h3>
                                        </a>
                                    </div>
                                    <table width="100%">
                                        <tr>
                                            <td class="small-text">{{ musicFile.fileName }}</td>
                                            <td class="small-text">Performed by {{ musicFile.performedBy }}</td>
                                            <td class="small-text">Length {{ musicFile.duration }}s</td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table> -->
                    </li>
                </ul>

            </div>
            <div class="modal-footer">
                <div class="col-md-9">
                </div>
                <div class="col-md-3">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>