<div class="user-list">
    <div class="search-box text-center">
        <i class="fa fa-search"></i>
        <input ng-model="search" type="text" class="" placeholder="Enter search terms" />
    </div>
    <ul>
        <li ng-click="selectUser(user)" pagination-id="userList" dir-paginate="user in users | itemsPerPage: perPage" total-items="userCount" current-page='page'>
            <div class="check-box">
                <i class="fa fa-check" ng-show="$ctrl.enableMultiSelect && $ctrl.isSelected(user)"></i>
            </div>
            <div class="user-info">
                <div>
                    <strong>{{user.profile.firstName}} {{user.profile.lastName}}</strong>
                </div>
                <div>{{user.profile.orgName}}</div>
            </div>
        </li>
    </ul>
    <div class="pagination">
        <dir-pagination-controls pagination-id="userList" on-page-change="pageChanged(newPageNumber)" class=""></dir-pagination-controls>
    </div>
</div>