<div class="pinwheel-tool">
    <div id="pinwheelTool" class="btn-group-vertical">
        <!-- TODO: remove tables and use flexbox? -->
        <table class="">
            <tr>
                <td>
                    <button ng-click="$ctrl.setDirection('counter-clockwise')" id="" ng-class="{ 'active': $ctrl.isCounterClockwise() }" class="btn btn-default" data-toggle="tooltip" data-placement="bottom"
                        title="Counter clockwise">
                        <i class="fa fa-rotate-left"></i>
                    </button>
                </td>
                <td>
                    <button ng-click="$ctrl.setDirection('clockwise')" id="" ng-class="{ 'active': $ctrl.isClockwise() }" class="btn btn-default" data-toggle="tooltip" data-placement="bottom"
                        title="Clockwise">
                        <i class="fa fa-rotate-right"></i>
                    </button>
                </td>
            </tr>
        </table>
        <table class="">
            <tr>
                <td>
                    <button ng-click="$ctrl.setRotation(.25)" id="" ng-class="{ 'active': $ctrl.isRotation(.25) }" class="btn btn-default" data-toggle="tooltip" data-placement="bottom"
                        title="">
                        1/4
                    </button>
                </td>
                <td>
                    <button ng-click="$ctrl.setRotation(.5)" id="" ng-class="{ 'active': $ctrl.isRotation(.5) }" class="btn btn-default" data-toggle="tooltip" data-placement="bottom"
                        title="">
                        1/2
                    </button>
                </td>
            </tr>
            <tr>
                <td>
                    <button ng-click="$ctrl.setRotation(1)" id="" ng-class="{ 'active': $ctrl.isRotation(1) }" class="btn btn-default" data-toggle="tooltip" data-placement="bottom"
                        title="">
                        4/4
                    </button>
                </td>
                <td>
                    <button ng-click="$ctrl.setRotation(.75)" id="" ng-class="{ 'active': $ctrl.isRotation(.75) }" class="btn btn-default" data-toggle="tooltip" data-placement="bottom"
                        title="">
                        3/4
                    </button>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div class="input-group counts">
                        <span class="input-group-btn">
                            <button ng-click="$ctrl.setCounts($ctrl.counts - 1)" class="btn btn-default" type="button">-</button>
                        </span>
                        <input ng-model="$ctrl.counts" ng-change="$ctrl.setCounts()" type="number" class="form-control" />
                        <span class="input-group-btn">
                                <button ng-click="$ctrl.setCounts($ctrl.counts + 1)" class="btn btn-default" type="button">+</button>
                            </span>
                        </div>
                </td>
            </tr>
        </table>
        <!-- <table class="reset-button">
            <tr>
                <td>
                    <button ng-click="reset()" class="btn btn-default btn-sm">Reset</button>
                </td>
            </tr>
        </table> -->
        <table class="save-cancel-button">
            <tr>
                <td>
                    <button ng-click="save()" id="savePinwheel" class="btn btn-default save-button" data-toggle="tooltip" data-placement="right"
                        title="Save">
                        <i class="fa fa-check context-button"></i>
                    </button>
                </td>
                <td>
                    <button ng-click="cancel()" id="cancelPinwheel" class="btn btn-default cancel-button" data-toggle="tooltip" data-placement="right"
                        title="Cancel">
                        <i class="fa fa-times context-button"></i>
                    </button>
                </td>
            </tr>
        </table>
    </div>

</div>