<div class="draw-paths-tool">
    <div id="drawPathsToolbar" class="btn-group-vertical">
        <!-- TODO: remove tables and use flexbox? -->
        <table class="turn-mode-button">
            <tr>
                <td>
                    <button ng-click="setTurnMode('block')" id="" ng-class="{ 'active': isBlockMode() }" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="Members will move as a block">
                        Block
                    </button>
                </td>
                <td>
                    <button ng-click="setTurnMode('file')" id="" ng-class="{ 'active': isFileMode() }" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="Members will follow file leader">
                        File
                    </button>
                </td>
            </tr>
        </table>
        <table class="btn-group direction-button">
            <tr>
                <td>
                    <button ng-click="setTurnDirection('NW')" id="" ng-class="{ 'active': isCurrentDirection('NW') }" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="">
                        <i class="fa fa-arrow-up fa-rotate-NW context-button"></i>
                    </button>
                </td>
                <td>
                    <button ng-click="setTurnDirection('N')" id="" ng-class="{ 'active': isCurrentDirection('N') }" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="">
                        <i class="fa fa-arrow-up context-button"></i>
                    </button>
                </td>
                <td>
                    <button ng-click="setTurnDirection('NE')" id="" ng-class="{ 'active': isCurrentDirection('NE') }" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="">
                        <i class="fa fa-arrow-up fa-rotate-NE context-button"></i>
                    </button>
                </td>
            </tr>
            <tr>
                <td>
                    <button ng-click="setTurnDirection('W')" id="" ng-class="{ 'active': isCurrentDirection('W') }" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="">
                        <i class="fa fa-arrow-left context-button"></i>
                    </button>
                </td>
                <td>
                    <button ng-click="setTurnDirection('CM')" id="" ng-class="{ 'active': isCurrentDirection('CM') }" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="">
                        <!-- <i class="fa fa-long-arrow-up fa-sm context-button"></i>
                        <i class="fa fa-long-arrow-down fa-sm context-button"></i> -->
                        <img class="button-svg" src="/icons/CM.svg"/>
                    </button>
                </td>
                <td>
                    <button ng-click="setTurnDirection('E')" id="" ng-class="{ 'active': isCurrentDirection('E') }" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="">
                        <i class="fa fa-arrow-right context-button"></i>
                    </button>
                </td>
            </tr>
            <tr>
                <td>
                    <button ng-click="setTurnDirection('SW')" id="" ng-class="{ 'active': isCurrentDirection('SW') }" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="">
                        <i class="fa fa-arrow-up fa-rotate-SW context-button"></i>
                    </button>
                </td>
                <td>
                    <button ng-click="setTurnDirection('S')" id="" ng-class="{ 'active': isCurrentDirection('S') }" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="">
                        <i class="fa fa-arrow-down context-button"></i>
                    </button>
                </td>
                <td>
                    <button ng-click="setTurnDirection('SE')" id="" ng-class="{ 'active': isCurrentDirection('SE') }" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="">
                        <i class="fa fa-arrow-up fa-rotate-SE context-button"></i>
                    </button>
                </td>
            </tr>
        </table>
        <table class="reset-button">
            <tr>
                <td>
                    <button ng-click="reset()" class="btn btn-default btn-sm">Reset</button>
                </td>
            </tr>
        </table>
        <table class="save-cancel-button">
            <tr>
                <td>
                    <button ng-click="save()" id="cancelMembers" class="btn btn-default save-button" data-toggle="tooltip" data-placement="right"
                        title="Save">
                        <i class="fa fa-check context-button"></i>
                    </button>
                </td>
                <td>
                    <button ng-click="cancel()" id="cancelMembers" class="btn btn-default cancel-button" data-toggle="tooltip" data-placement="right"
                        title="Cancel">
                        <i class="fa fa-times context-button"></i>
                    </button>
                </td>
            </tr>
        </table>
    </div>

</div>