.draw-paths-tool {
    background-color: gainsboro;
}

.draw-paths-tool .button-svg {
    height: 20px;
    width: 20px;
}

.draw-paths-tool .direction-button button {
    border-radius: 0;
    height: 32px;
    width: 32px;
    padding: 0;
}

.draw-paths-tool .direction-button button i {
    color: black;
}

.draw-paths-tool .direction-button button.active {
    background-color: #e6e6e6;
}

.draw-paths-tool .turn-mode-button button {
    border-radius: 0;
    height: 32px;
    width: 48px;
    padding: 0;
    font-size: 12px;
}

.draw-paths-tool .turn-mode-button button.active {
    background-color: #e6e6e6;
    color: black;
}
            
.draw-paths-tool .turn-mode-button span {
    font-size: 12px;
}

.draw-paths-tool .save-cancel-button button {
    border-radius: 0;
    height: 32px;
    width: 48px;
    padding: 0;
}

.draw-paths-tool .reset-button button {
    border-radius: 0;
    width: 96px;
}

.draw-paths-tool .save-button i {
    color: green;    
}

.draw-paths-tool .cancel-button i {
    color: red;    
}

