<div class="draw-paths-tool">
    <div id="drawPathsToolbar" class="btn-group-vertical">
        <ul>
            <li>
                <button ng-click="setTurnMode('block')" id="" ng-class="{ 'active': isBlockMode() }" class="btn btn-default" data-toggle="tooltip"
                    data-placement="bottom" title="Members will move as a block">
                    Block
                </button>
                <button ng-click="setTurnMode('file')" id="" ng-class="{ 'active': isFileMode() }" class="btn btn-default" data-toggle="tooltip"
                    data-placement="bottom" title="Members will follow file leader">
                    File
                </button>
            </li>
            <li>
                <button ng-click="setTurnDirection('NW')" id="" ng-class="{ 'active': isCurrentDirection('NW') }" class="btn btn-default"
                    data-toggle="tooltip" data-placement="bottom" title="">
                    <i class="fa fa-arrow-up fa-rotate-NW context-button"></i>
                </button>
                <button ng-click="setTurnDirection('N')" id="" ng-class="{ 'active': isCurrentDirection('N') }" class="btn btn-default" data-toggle="tooltip"
                    data-placement="bottom" title="">
                    <i class="fa fa-arrow-up context-button"></i>
                </button>
                <button ng-click="setTurnDirection('NE')" id="" ng-class="{ 'active': isCurrentDirection('NE') }" class="btn btn-default"
                    data-toggle="tooltip" data-placement="bottom" title="">
                    <i class="fa fa-arrow-up fa-rotate-NE context-button"></i>
                </button>
                <button ng-click="setTurnDirection('W')" id="" ng-class="{ 'active': isCurrentDirection('W') }" class="btn btn-default" data-toggle="tooltip"
                    data-placement="bottom" title="">
                    <i class="fa fa-arrow-left context-button"></i>
                </button>
                <button class="btn btn-default"></button>
                <!-- <div class="placeholder"></div> -->
                <button ng-click="setTurnDirection('E')" id="" ng-class="{ 'active': isCurrentDirection('E') }" class="btn btn-default" data-toggle="tooltip"
                    data-placement="bottom" title="">
                    <i class="fa fa-arrow-right context-button"></i>
                </button>
                <button ng-click="setTurnDirection('SW')" id="" ng-class="{ 'active': isCurrentDirection('SW') }" class="btn btn-default"
                    data-toggle="tooltip" data-placement="bottom" title="">
                    <i class="fa fa-arrow-up fa-rotate-SW context-button"></i>
                </button>
                <button ng-click="setTurnDirection('S')" id="" ng-class="{ 'active': isCurrentDirection('S') }" class="btn btn-default" data-toggle="tooltip"
                    data-placement="bottom" title="">
                    <i class="fa fa-arrow-down context-button"></i>
                </button>
                <button ng-click="setTurnDirection('SE')" id="" ng-class="{ 'active': isCurrentDirection('SE') }" class="btn btn-default"
                    data-toggle="tooltip" data-placement="bottom" title="">
                    <i class="fa fa-arrow-up fa-rotate-SE context-button"></i>
                </button>
            </li>
            <li>
                <button ng-click="setTurnDirection('CM')" id="" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="Left Countermarch">
                    <img class="left-countermarch" src="/icons/CM.svg" />
                </button>
                <button ng-click="setTurnDirection('CM')" id="" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="Right Countermarch">
                    <img class="right-countermarch" src="/icons/CM.svg" />
                </button>
            </li>
            <!-- <li>
                <button ng-click="reset()" class="btn btn-default btn-sm">Reset</button>
            </li> -->
            <li ng-show="$ctrl.turnMode == 'file'">
                <label>
                    <input type="checkbox" ng-model="$ctrl.allFiles" ng-change="$ctrl.setAllFiles()" /> All Files</label>
            </li>
            <li class="fileOffset" ng-show="$ctrl.turnMode == 'file'">
                <div>File Offset</div>
                <button ng-disabled="!$ctrl.allFiles" ng-click="$ctrl.decrementFileOffset()" class="btn btn-default">-</button>
                <input ng-disabled="!$ctrl.allFiles" type="number" ng-model="$ctrl.fileOffset" ng-change="$ctrl.setFileOffset()" />
                <button ng-disabled="!$ctrl.allFiles" ng-click="$ctrl.incrementFileOffset()" class="btn btn-default">+</button>
            </li>
            <li class="rankOffset" ng-show="$ctrl.turnMode == 'file'">
                <div>Rank Offset</div>
                <button ng-disabled="!$ctrl.allFiles" ng-click="$ctrl.decrementRankOffset()" class="btn btn-default">-</button>
                <input ng-disabled="!$ctrl.allFiles" type="number" ng-model="$ctrl.rankOffset" ng-change="$ctrl.setRankOffset()" />
                <button ng-disabled="!$ctrl.allFiles" ng-click="$ctrl.incrementRankOffset()" class="btn btn-default">+</button>
            </li>
            <li>
                <button ng-click="save()" id="savePaths" class="btn btn-default save-button" data-toggle="tooltip" data-placement="right"
                    title="Save">
                    <i class="fa fa-check context-button"></i>
                </button>
                <button ng-click="cancel()" id="cancelPaths" class="btn btn-default cancel-button" data-toggle="tooltip" data-placement="right"
                    title="Cancel">
                    <i class="fa fa-times context-button"></i>
                </button>
            </li>
        </ul>
    </div>

</div>