.draw-paths-tool {
    /* background-color: gainsboro; */
}

.draw-paths-tool button i {
    color: black;
    margin: 0;
}

.draw-paths-tool ul {
    margin: 0;
    width: 100%;
    padding: 0px;
}

.draw-paths-tool li {
    list-style-type: none;
    margin-top: 5px;
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}

.draw-paths-tool li button {
    flex: 1 1 33%;
    border-radius: 0;
    height: 24px;
    width: 24px;
    padding: 0;
}

.draw-paths-tool li div.placeholder {
    flex: 1 1 33%;
    border-radius: 0;
    height: 24px;
    width: 24px;
    padding: 0;    
}

.draw-paths-tool img.left-countermarch {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.draw-paths-tool img.right-countermarch {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg) scaleY(-1);
}

.draw-paths-tool .save-button i {
    color: green;    
}

.draw-paths-tool .cancel-button i {
    color: red;    
}

