<div class="design">
    <div class="btn-toolbar" role="toolbar">

        <!-- open drill, etc -->
        <div class="btn-group btn-group-sm" role="group">
            <div class="input-group input-group-sm" style="width: 200px">
                <input type="text" class="form-control" placeholder="Drill Name" ng-model="drill.name" title="Drill Name" />
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" title="Drill Settings">
                        <i class="fa fa-cog"></i>
                    </button>
                </span>
                <span class="input-group-btn">
                    <button ng-click="onNew()" class="btn btn-default" type="button" title="New Drill">
                        <i class="fa fa-file-o"></i>
                    </button>
                </span>
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" data-toggle="modal" data-target="#myModal" title="Open Drill">
                        <i class="fa fa-folder-open"></i>
                    </button>
                </span>
            </div>
        </div>

        <!-- playback, go to beginning, etc -->
        <div class="btn-group btn-group-sm" role="group">
            <button id="goToBeginning" ng-click="onGoToBeginning()" class="btn btn-default" data-toggle="tooltip" data-placement="bottom"
                title="Go To Beginning (ctrl or cmd + left arrow)">
                <i class="fa fa-fast-backward"></i>
            </button>
            <button id="play" ng-click="onPlay()" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="Play">
                <i class="fa fa-play"></i>
            </button>
            <button id="stop" ng-click="onStop()" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="Stop">
                <i class="fa fa-stop"></i>
            </button>
            <button id="goToEnd" ng-click="onGoToEnd()" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="Go To End (ctrl or cmd + right arrow)">
                <i class="fa fa-fast-forward"></i>
            </button>
        </div>

        <!-- count, step forward and backward -->
        <div class="btn-group btn-group-sm" role="group">
            <button id="stepBackward" ng-click="onStepBackward()" class="btn btn-default" data-toggle="tooltip" data-placement="bottom"
                title="Backward 1 Count (left arrow)">
                <i class="fa fa-step-backward"></i>
            </button>
            <button id="currentCount" class="btn btn-default btn-md" data-toggle="tooltip" data-placement="bottom" title="Current count"
                style="width: 40px;">{{drill.count}}</button>
            <button id="stepForward" ng-click="onStepForward()" class="btn btn-default" data-toggle="tooltip" data-placement="bottom"
                title="Forward 1 Count (right arrow)">
                <i class="fa fa-step-forward"></i>
            </button>
        </div>

        <!-- tempo -->
        <div class="btn-group btn-group-sm" role="group">
            <div class="input-group input-group-sm" style="width: 100px;" data-toggle="tooltip" data-placement="bottom" title="Tempo">
                <span class="input-group-btn">
                    <button id="tempoMinus" ng-click="tempo = tempo - 1" class="btn btn-default" type="button">-</button>
                </span>
                <input id="tempo" type="text" class="form-control" aria-label="Tempo" ng-model="tempo">
                <span class="input-group-btn">
                    <button id="tempoPlus" ng-click="tempo = tempo + 1" class="btn btn-default" type="button">+</button>
                </span>
            </div>
        </div>

        <!-- timeline -->
        <div class="btn-group btn-group-sm" role="group">
            <button id="showTimeline" ng-click="onShowTimeline()" class="btn btn-default" data-toggle="tooltip" data-placement="bottom"
                title="Show Drill Timeline">
                <i class="fa fa-clock-o"></i>
            </button>
        </div>

        <!-- temporary buttons, debugging -->
        <div class="btn-group btn-group-sm" role="group">
            <div class="input-group input-group-sm" style="width: 200px">
                <span class="input-group-btn">
                    <button ng-click="debug()" class="btn btn-default" type="button" title="debug">
                        <i class="fa fa-bug"></i>
                    </button>
                </span>
            </div>
        </div>

        <!-- position indicator -->
        <div class="btn-group btn-group-sm pull-right" role="group">
            <div class="btn">{{currentPosition}}</div>
            <button class="btn btn-default" ng-click="showHelp()">
                <i class="fa fa-question-circle fa-lg"></i>
            </button>
        </div>
    </div>
    <div class="row">
        <div id="design-surface-col" class="col-md-12">
            <!-- <div id="test" style="position: absolute; left: 250px; top: 100px; width: 0px; height: 0px; z-index: -1; "></div> -->
            <design-surface drill="drill" ng-show="true"></design-surface>
            <open-dialog on-open="onOpen(drill)"></open-dialog>
        </div>
        <div class="col-md-1">
            <div class="design-help pull-right" ng-show="isHelpVisible">
                <ul class="nav">
                    <li class="nav-header">
                        Walk Throughs
                    </li>
                    <li>
                        <a ng-click="showIntro()">Add Members</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>