.design {
    padding: 5px;
}

.design .btn-toolbar {
    margin-top: 10px;
    margin-bottom: 10px;
}

.design-help {
    transition: margin 0.3s ease;    
}

.design-help .collapsed {
    display: none;
}
