.design {
    padding: 5px;
}

.design .btn-toolbar {
    margin-top: 5px;
    margin-bottom: 5px;
}

.design-help {
    transition: margin 0.3s ease;    
}

.design-help .collapsed {
    display: none;
}

.side-menu {
    position:relative;
 }
 .side-menu li ul {
   position:absolute;
   z-index:99;
   width:100%;
 }

 /* #left-sidebar {
     width: 100px;
     height: 500px;
 } */

/* experimenting with docking timeline at bottom */
/* #design-surface-col {
    width: 75%;
} */

/* #timeline-container {
    height: 200px;
    width: 100%;
} */