#addStepsToolbar i {
    color: black;
    margin: 0;
}

.add-steps-tool ul {
    margin: 0;
    width: 100%;
    padding: 0px;
}

.add-steps-tool li {
    list-style-type: none;
    margin-top: 5px;
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}

.add-steps-tool li button {
    flex: 1 1 33%;
    border-radius: 0;
    height: 24px;
    width: 24px;
    padding: 0;
}

.add-steps-tool li.face-commands button {
    flex: 1 1 25%;
    border-radius: 0;
    height: 24px;
    width: 24px;
    padding: 0;
}

.add-steps-tool .direction-button button {
    border-radius: 0;
    height: 32px;
    width: 32px;
    padding: 0;
}

.add-steps-tool td.row-spacer {
    /* margin-top: 4px; */
    font-size: 6px;
}

.add-steps-tool img.left-countermarch {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.add-steps-tool img.right-countermarch {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg) scaleY(-1);
}
