.add-steps-tool {
}

#addStepsToolbar i {
    color: black;
    margin: 0;
}

.add-steps-tool .button-svg {
    height: 20px;
    width: 20px;
}

.add-steps-tool .direction-button button {
    border-radius: 0;
    height: 32px;
    width: 32px;
    padding: 0;
}

