<div draggable class="add-steps-tool panel panel-default" ng-show="$ctrl.isActivated">
    <div class="panel-heading text-center">
        <table>
            <tr>
                <td>
                        <i class="fa fa-times fa-sm cancel-button" ng-click="cancel()"></i>
                </td>
                <td class="drag-handle">
                        &nbsp;Add Steps
                </td>
            </tr>
        </table>
    </div>
    <div id="addTurnsToolbar" class="panel-body floating-toolbar btn-group-vertical">
        <table class="stride-type-button">
            <tr>
                <td>
                    <input type="checkbox" name="stride-type-switch" checked data-on-text="6/5" data-off-text="8/5" data-off-color="primary" data-label-text="Stride" data-size="mini" data-label-width="56px">
                </td>
            </tr>
        </table>
        <table class="btn-group direction-button">
            <tr>
                <td>
                    <button ng-click="addStep('NW')" id="" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="">
                        <i class="fa fa-arrow-up fa-rotate-NW context-button"></i>
                    </button>
                </td>
                <td>
                    <button ng-click="addStep('N')" id="" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="">
                        <i class="fa fa-arrow-up context-button"></i>
                    </button>
                </td>
                <td>
                    <button ng-click="addStep('NE')" id="" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="">
                        <i class="fa fa-arrow-up fa-rotate-NE context-button"></i>
                    </button>
                </td>
            </tr>
            <tr>
                <td>
                    <button ng-click="addStep('W')" id="" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="">
                        <i class="fa fa-arrow-left context-button"></i>
                    </button>
                </td>
                <td>
                    <button ng-click="addStep('CM')" id="" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="">
                        <img class="button-svg" src="/icons/CM.svg"/>
                    </button>
                </td>
                <td>
                    <button ng-click="addStep('E')" id="" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="">
                        <i class="fa fa-arrow-right context-button"></i>
                    </button>
                </td>
            </tr>
            <tr>
                <td>
                    <button ng-click="addStep('SW')" id="" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="">
                        <i class="fa fa-arrow-up fa-rotate-SW context-button"></i>
                    </button>
                </td>
                <td>
                    <button ng-click="addStep('S')" id="" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="">
                        <i class="fa fa-arrow-down context-button"></i>
                    </button>
                </td>
                <td>
                    <button ng-click="addStep('SE')" id="" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="">
                        <i class="fa fa-arrow-up fa-rotate-SE context-button"></i>
                    </button>
                </td>
            </tr>
            <tr>
                <td>
                    <button ng-click="addMarkTime()" id="" ng-class="{ 'active': isCurrentDirection('SW') }" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="Mark time">
                        <i class="fa fa-long-arrow-up context-button"></i>
                        <i class="fa fa-long-arrow-down context-button"></i>
                    </button>
                </td>
                <td>
                    <button ng-click="addHalt()" id="" ng-class="{ 'active': isCurrentDirection('S') }" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="halt">
                        <i class="fa fa-stop context-button"></i>
                    </button>
                </td>
                <td>
                    <button ng-click="backspaceDelete()" id="" ng-class="{ 'active': isCurrentDirection('SE') }" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="Backup and delete">
                        <i class="fa fa-arrow-circle-left context-button" style="color: red"></i>
                    </button>
                </td>
            </tr>
            <tr>
                <td>
                    <button ng-click="" id="" ng-class="{ 'active': isCurrentDirection('SW') }" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="Mark time">
                    </button>
                </td>
                <td>
                    <button ng-click="setTurnDirection('S')" id="" ng-class="{ 'active': isCurrentDirection('S') }" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="halt">
                    </button>
                </td>
                <td>
                    <button ng-click="setTurnDirection('SE')" id="" ng-class="{ 'active': isCurrentDirection('SE') }" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="">
                    </button>
                </td>
            </tr>
        </table>
    </div>

</div>