<div class="design-header">
  <div class="brand">
    <a href="/">PRECISION</a>
  </div>
  <div class="menu">
    <div class="dropdown design-header-menu">
      <button class="dropdown-toggle" type="button" id="fileMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        File
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="fileMenu">
        <li>
          <a href="#" ng-click="$ctrl.onNewDrill()">New Drill</a>
        </li>
        <li role="separator" class="divider"></li>
        <li>
          <a href="#" ng-click="$ctrl.onOpenDrill()">Open...</a>
        </li>
        <li class="dropdown-submenu">
          <a href="#">Open Recent</a>
          <ul class="dropdown-menu">
            <li ng-repeat="recentDrill in recentDrills">
              <a ng-click="$ctrl.openDrill(recentDrill._id)" tabindex="-1" href="#">
                {{recentDrill.name}}
              </a>
            </li>
          </ul>
        </li>
        <li role="separator" class="divider"></li>
        <li>
          <a href="#" ng-click="$ctrl.onSave()">Save</a>
        </li>
        <li>
          <a href="#" ng-click="$ctrl.onSaveAs()">Save As...</a>
        </li>
        <li role="separator" class="divider"></li>
        <li class="">
          <a href="#" ng-click="$ctrl.onShare()">Share...</a>
        </li>
        <li class="">
          <a href="#" ng-click="$ctrl.onDrillProperties()">Drill Info...</a>
        </li>
      </ul>
    </div>
    <div class="dropdown design-header-menu">
      <button class="dropdown-toggle" type="button" id="editMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Edit
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="editMenu">
        <li>
          <a href="#" ng-click="$ctrl.undo()" title="CMD+Z">
            <i class="fa fa-undo"></i> {{$ctrl.undoLabel()}}</a>
        </li>
        <li>
          <a href="#" ng-click="$ctrl.redo()" title="CMD+SHIFT+Z">
            <i class="fa fa-undo fa-flip-horizontal"></i> {{$ctrl.redoLabel()}}</a>
        </li>
      </ul>
    </div>
    <div class="dropdown design-header-menu">
      <button class="dropdown-toggle" type="button" id="helpMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Help
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="helpMenu">
        <li class="">
          <a href="#" ng-click="$ctrl.showIntro()">Introduction</a>
        </li>
        <li class="">
          <a target="_blank" rel="noopener noreferrer" href="https://www.youtube.com/playlist?list=PL0CY-BjxvSFSIuYsRlb1bvAURzeHEwkuB">How To Videos</a>
        </li>
        <li class="disabled">
          <a href="/help">FAQ</a>
        </li>
        <li>
          <a href="#" ng-click="$ctrl.showKeyboardShortcuts()">Keyboard Shortcuts</a>
        </li>
        <!-- <li role="separator" class="divider"></li>
        <li>
          <a href="#" ng-click="$ctrl.onDebug()">Debug</a>
        </li> -->
        <li role="separator" class="divider"></li>
        <li class="">
          <a href="/about">About</a>
        </li>
      </ul>
    </div>
    <div class="design-header-menu" ng-show="$ctrl.isAdmin()">
      <button ng-click="$ctrl.goToAdmin()" class="" type="button" id="adminMenu" aria-haspopup="true" aria-expanded="true">
        Admin
      </button>
    </div>
  </div>
  <div class="drill-name">
    <input id="txtDrillName" type="text" ng-model="drillName" ng-change="onNameChange()" />
    <i class="fa fa-pencil" ng-click="$ctrl.focusDrillName()" data-toggle="tooltip" data-placement="right" title="Edit Drill Name"></i>
  </div>

  <user-menu></user-menu>
</div>