div.design-header {
  display: flex;
  background-color: #353535;
}

.design-header .brand {
  flex: none;
  width: 120px;
  text-align: center;
  margin-top: 5px;
  color: white;
}

.design-header .brand a {
  color: white;  
}

.design-header .brand a:hover {
  text-decoration: none;
}

.design-header .menu {
  flex: none;
  width: 225px;
  display: flex;
}

.design-header .menu a {
  /* color: white; */
  color: black;
}

.design-header .menu a:hover {
  text-decoration: none;
}

.design-header .drill-name {
  flex: 1 1 auto;
  color: white;
  text-align: center;
  margin-top: 5px;
}

.design-header .drill-name input {
  color: white;
  background-color: #353535;
  border: 0;
  text-align: center;
}

.design-header i.fa.fa-pencil {
  cursor: pointer;
}

.design-header .design-header-menu {
  color: white;
  margin-top: 5px;
}

.design-header .design-header-menu button {
  background-color: #353535;
  border: 0;
}
