
<div class="design-header">
  <div class="brand">
    <a href="/">PRECISION</a>
  </div>
  <div class="menu">
    <div class="dropdown design-header-menu">
      <button class="dropdown-toggle" type="button" id="fileMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        File
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="fileMenu">
        <li>
          <a href="#" ng-click="$ctrl.onNewDrill()">New Drill</a>
        </li>
        <li>
          <a href="#" ng-click="$ctrl.onOpenDrill()">Open...</a>
        </li>
        <li role="separator" class="divider"></li>
        <li class="">
          <a href="#" ng-click="$ctrl.onDrillProperties()">Drill Info...</a>
        </li>
      </ul>
    </div>
    <div class="dropdown design-header-menu">
      <button class="dropdown-toggle" type="button" id="helpMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Help
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="helpMenu">
        <li class="disabled">
          <a href="/help">TODO: Help Topics</a>
        </li>
        <li role="separator" class="divider"></li>
        <li>
          <a href="#" ng-click="$ctrl.onDebug()">Debug</a>
        </li>
        <li role="separator" class="divider"></li>
        <li class="disabled">
          <a href="/about">About</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="drill-name">
    <input id="txtDrillName" type="text" ng-model="drillName" ng-change="onNameChange()"/>
    <i class="fa fa-pencil" ng-click="$ctrl.focusDrillName()" data-toggle="tooltip" data-placement="right" title="Edit Drill Name"></i>
  </div>

  <div class="login-info menu">
      <div class="dropdown design-header-menu">
          <button class="dropdown-toggle" type="button" id="fileMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            {{$ctrl.userName()}}
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li>
              <a href="#" ng-click="">Change Password...</a>
            </li>
            <li class="">
              <a href="#" ng-click="$ctrl.logOut()">Log Out</a>
            </li>
          </ul>
        </div>    
  </div>
</div>