<div draggable class="add-turns-tool panel panel-default" ng-show="$ctrl.isActivated">
    <div class="panel-heading text-center drag-handle">
        <i class="fa fa-bars fa-sm drag-handle"></i>
    </div>
    <div id="addTurnsToolbar" class="panel-body floating-toolbar btn-group-vertical">
        <table class="turn-mode-button">
            <tr>
                <td>
                    <input type="checkbox" name="follow-switch" checked data-label-text="Follow" data-size="mini" data-label-width="52px">
                </td>
            </tr>
        </table>
        <table class="btn-group direction-button">
            <tr>
                <td>
                    <button ng-click="setTurnDirection('NW')" id="" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="">
                        <i class="fa fa-arrow-up fa-rotate-NW context-button"></i>
                    </button>
                </td>
                <td>
                    <button ng-click="setTurnDirection('N')" id="" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="">
                        <i class="fa fa-arrow-up context-button"></i>
                    </button>
                </td>
                <td>
                    <button ng-click="setTurnDirection('NE')" id="" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="">
                        <i class="fa fa-arrow-up fa-rotate-NE context-button"></i>
                    </button>
                </td>
            </tr>
            <tr>
                <td>
                    <button ng-click="setTurnDirection('W')" id="" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="">
                        <i class="fa fa-arrow-left context-button"></i>
                    </button>
                </td>
                <td>
                    <button ng-click="setTurnDirection('CM')" id="" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="">
                        <i class="fa fa-long-arrow-up fa-sm context-button"></i>
                        <i class="fa fa-long-arrow-down fa-sm context-button"></i>
                    </button>
                </td>
                <td>
                    <button ng-click="setTurnDirection('E')" id="" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="">
                        <i class="fa fa-arrow-right context-button"></i>
                    </button>
                </td>
            </tr>
            <tr>
                <td>
                    <button ng-click="setTurnDirection('SW')" id="" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="">
                        <i class="fa fa-arrow-up fa-rotate-SW context-button"></i>
                    </button>
                </td>
                <td>
                    <button ng-click="setTurnDirection('S')" id="" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="">
                        <i class="fa fa-arrow-down context-button"></i>
                    </button>
                </td>
                <td>
                    <button ng-click="setTurnDirection('SE')" id="" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="">
                        <i class="fa fa-arrow-up fa-rotate-SE context-button"></i>
                    </button>
                </td>
            </tr>
        </table>
        <table class="save-cancel-button">
            <tr>
                <td>
                    <button ng-click="save()" id="cancelMembers" class="btn btn-default save-button" data-toggle="tooltip" data-placement="right"
                        title="Save">
                        <i class="fa fa-check context-button"></i>
                    </button>
                </td>
                <td>
                    <button ng-click="cancel()" id="cancelMembers" class="btn btn-default cancel-button" data-toggle="tooltip" data-placement="right"
                        title="Cancel">
                        <i class="fa fa-times context-button"></i>
                    </button>
                </td>
            </tr>
        </table>
    </div>

</div>