<header></header>
<div class="change-password">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>Change Password</h3>
        </div>
        <div class="panel-body text-center">
            <form ng-submit="changePassword()">
                <div class="change-password-group">
                    <label class="control-label">Current Password</label>
                    <input type="password" ng-model="currentPassword" ng-required='true' class="form-control" />
                    <label class="control-label">New Password</label>
                    <input type="password" ng-model="newPassword" ng-required='true' class="form-control" />
                </div>
                <div ng-show="errorMessage">
                    {{errorMessage}}
                </div>
                <button type="submit" class="btn btn-primary">
                    Change Password
                </button>
            </form>
        </div>
    </div>
</div>