#login-buttons {
  padding: 5px;
  line-height: 20px;
}

.navbar {
  min-height: 0;
}

.navbar-brand {
  padding: 5px;
}

.navbar-collapse.in {
  overflow: visible!important;
}
  
.navbar-collapse.in #login-dropdown-list {
  left: 0px!important;
}

.navbar-nav > li > a {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.brand-link {
  /* font-size: 14pt;
  font-weight: bold; */
}

@media (min-width: 768px) {
  #login-buttons {
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

/* .login-link-text {
  font-size: 14px;
  line-height: 20px;
  padding: 5px;
  color: rgb(157, 157, 157);
} */

/* #login-buttons {
  margin-right: 20px;
  min-width: 150px;
  text-align: center;
}

#login-buttons a {
  text-decoration: none;  
} */

/* login styling */
/* override positioning of sign in popup */
#login-buttons {
  width: 200px;
}
.login-link-text {
  font-size: 14px;
  line-height: 20px;
  padding: 5px;
  color: rgb(157, 157, 157);
}
#login-buttons a {
  font-weight: 500;
  text-decoration: none;
}
#login-dropdown-list {
  left: -80px
}
.user-icon {
  color: white;
  margin-right: 10px;
}

#login-buttons a.login-link-text:hover {
  color: white;
}

a.login-close-text {
}

.accounts-dialog a.login-close-text:hover {
  color: black;
}

#login-dropdown-list.accounts-dialog {
  margin-left: 0px;
  margin-top: 30px;
  width: 250px;
  float: right;
}
