#login-buttons {
  padding: 5px;
  line-height: 20px;
}

.navbar {
  min-height: 0;
}

.navbar-brand {
  padding: 5px;
}

.navbar-collapse.in {
  overflow: visible!important;
}
  
.navbar-collapse.in #login-dropdown-list {
  left: 0px!important;
}

.navbar-nav > li > a {
  padding: 5px;
}

@media (min-width: 768px) {
  #login-buttons {
    padding-top: 5px;
    padding-bottom: 5px;
  }
}
