<div id="sidebar" class="sidebar ">

    <ul id="sideMenu" class="side-menu">
        <!-- <li class="panel undo-redo">
            <button ng-click="undo()" id="undo-button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" data-original-title="{{undoLabel()}}">
                    <i class="fa fa-undo"></i>
                </button>
            <button ng-click="redo()" id="redo-button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" data-original-title="{{redoLabel()}}">
                <i class="fa fa-undo fa-flip-horizontal"></i>
            </button>
        </li> -->
        <li class="panel">
            <a href="#marcherOptions" data-toggle="collapse" data-parent="#sideMenu">
                <i class="fa fa-play"></i> Marchers</a>
            <div id="marcherOptions" class="collapse">
                <ul class="side-sub-menu">
                    <li>
                        <a ng-click="addMembers()">
                            <i class="fa fa-plus"></i>Add Marchers</a>
                    </li>
                    <li>
                        <a ng-click="deleteSelectedMembers()">
                            <i class="fa fa-times"></i>Delete Selected</a>
                    </li>
                    <li>
                        <a ng-click="marcherColors()">
                            <i class="fa fa-edit"></i>Marcher Colors
                        </a>
                    </li>
                    <li>
                        <a ng-click="selectAll()"><i class="fa fa-caret-square-o-right"></i>Select All</a>
                    </li>
                    <li>
                        <a ng-click="deselectAll()"><i class="fa fa-play"></i>Deselect All</a>
                    </li>
                    <li>
                        <a ng-click="hideUnselected()"><i class="fa fa-play"></i>Hide Unselected</a>
                    </li>
                    <li>
                        <a ng-click="showAll()"><i class="fa fa-play"></i>Show Unselected</a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="panel">
            <a href="#addSteps" ng-click="addSteps()" data-toggle="collapse" data-parent="#sideMenu">
                <i class="fa fa-plus"></i> Steps</a>
            <div id="addSteps" class="collapse">
                <ul class="side-sub-menu">
                    <li>
                        <add-steps-tool></add-steps-tool>
                    </li>
                </ul>
            </div>
        </li>
        <li class="panel">
            <a href="#drawPaths" ng-click="drawPaths()" data-toggle="collapse" data-parent="#sideMenu">
                <i class="fa fa-edit"></i> Paths</a>
            <div id="drawPaths" class="collapse">
                <ul class="side-sub-menu">
                    <li ng-show="false">
                        <input ng-show="false" type="checkbox" name="stride-type-switch" data-off-text="6/5" data-on-text="8/5" data-off-color="primary" data-label-text="Stride"
                            data-size="mini" data-label-width="55px" />
                    </li>
                    <li>
                        <draw-paths-tool></draw-paths-tool>
                    </li>
                </ul>
            </div>
        </li>
        <li class="panel">
            <a href="#maneuvers" ng-click="maneuvers()" data-toggle="collapse" data-parent="#sideMenu">
                <img class="countermarch" style="fill: white;" src="/icons/countermarch-white.svg" /> Maneuvers
                <!-- <i class="fa fa-edit"></i> Maneuvers -->
            </a>
            <div id="maneuvers" class="collapse">
                <ul class="side-sub-menu">
                    <li>
                        <a ng-click="countermarch()">
                            <i class="fa fa-expand-arrows-alt"></i> Countermarch
                            </a>
                    </li>
                    <li>
                        <a ng-click="illinois()">
                            <i class="fa fa-expand-arrows-alt"></i> Illinois
                            </a>
                    </li>
                    <li>
                        <a ng-click="texasTurn()">
                            <i class="fa fa-expand-arrows-alt"></i> Texas Turn
                            </a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="panel">
            <a href="#addMusic" data-toggle="collapse" data-parent="#sideMenu">
                <i class="fa fa-music"></i> Music</a>
            <div id="addMusic" class="collapse">
                <ul class="side-sub-menu">
                    <li>
                        <a ng-click="addMusic()">
                            <i class="fa fa-plus"></i>Add Music</a>
                    </li>
                    <!-- <li>Music Library</li> -->
                </ul>
            </div>
        </li>
        <li class="panel">
            <a href="#zoom" data-toggle="collapse" data-parent="#sideMenu">
                <i class="fa fa-search-plus"></i> Zoom</a>
            <div id="zoom" class="collapse">
                <ul class="side-sub-menu">
                    <li>
                        <a ng-click="sizeToFit()">
                            <i class="fa fa-expand-arrows-alt"></i>Fit</a>
                    </li>
                    <li>
                        <a ng-click="zoomIn()">
                            <i class="fa fa-search-plus"></i>Zoom In</a>
                    </li>
                    <li>
                        <a ng-click="zoomOut()">
                            <i class="fa fa-search-minus"></i>Zoom Out</a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="panel">
            <a href="#settings" data-toggle="collapse" data-parent="#sideMenu">
                <i class="fa fa-cog"></i> Settings</a>
            <div id="settings" class="collapse">
                <ul class="side-sub-menu">
                    <li>
                        <input type="checkbox" name="grid-switch" data-off-text="Off" data-on-text="On" data-off-color="primary" data-label-text="Grid"
                            data-size="mini" data-label-width="55px">
                    </li>
                    <li>
                        <input type="checkbox" name="logo-switch" data-off-text="Off" data-on-text="On" data-off-color="primary" data-label-text="Logo"
                            data-size="mini" data-label-width="55px">
                    </li>
                </ul>
            </div>
        </li>
    </ul>
</div>