<div id="sidebar" class="sidebar panel panel-default">

    <!-- <input type="checkbox" name="stride-type-switch" data-off-text="6/5" data-on-text="8/5" data-off-color="primary" data-label-text="Stride" data-size="mini" data-label-width="70px"> -->

    <ul id="sideMenu" class="side-menu">
        <li class="panel">
            <a href="#selectOptions" data-toggle="collapse" data-parent="#sideMenu">
                <i class="fa fa-mouse-pointer"></i> Select</a>
            <div id="selectOptions" class="collapse">
                <ul class="side-sub-menu">
                    <li>Select All</li>
                    <li>Deselect All</li>
                    <li>Hide Unselected</li>
                    <li>Show Unselected</li>
                </ul>
            </div>
        </li>
        <li class="panel">
            <a href="#marcherOptions" data-toggle="collapse" data-parent="#sideMenu">
                <i class="fa fa-play"></i> Marchers</a>
            <div id="marcherOptions" class="collapse">
                <ul class="side-sub-menu">
                    <li>Add Marchers</li>
                    <li>Delete Selected</li>
                </ul>
            </div>
        </li>
        <li class="panel">
            <a href="#addSteps" data-toggle="collapse" data-parent="#sideMenu">
                <i class="fa fa-plus"></i> Steps</a>
            <div id="addSteps" class="collapse">
                <ul class="side-sub-menu">
                    <li>Add Steps</li>
                    <li>Backup &amp; Delete</li>
                    <li>Delete Forward</li>
                </ul>
            </div>
        </li>
        </li>
        <li class="panel">
            <a href="#drawPaths" data-toggle="collapse" data-parent="#sideMenu">
                <i class="fa fa-pencil"></i> Paths</a>
            <div id="drawPaths" class="collapse">
                <ul class="side-sub-menu">
                    <li>Draw Paths</li>
                    <li>Backup &amp; Delete</li>
                    <li>Delete Forward</li>
                </ul>
            </div>
        </li>
        </li>
        <li class="panel">
            <a href="#addMusic" data-toggle="collapse" data-parent="#sideMenu">
                <i class="fa fa-music"></i> Music</a>
            <div id="addMusic" class="collapse">
                <ul class="side-sub-menu">
                    <li>Add Music</li>
                    <li>Manage Music</li>
                </ul>
            </div>
        </li>
        <li class="panel">
            <a href="#zoom" data-toggle="collapse" data-parent="#sideMenu">
                <i class="fa fa-search-plus"></i> Zoom</a>
            <div id="zoom" class="collapse">
                <ul class="side-sub-menu">
                    <li ng-click="sizeToFit()"><i class="fa fa-arrows"></i>Fit</li>
                    <li ng-click="zoomIn()"><i class="fa fa-search-plus"></i>Zoom In</li>
                    <li ng-click="zoomOut()"><i class="fa fa-search-minus"></i>Zoom Out</li>
                </ul>
            </div>
        </li>
        <li class="panel">
            <i class="fa fa-cog"></i> Settings
        </li>
    </ul>
</div>