<tool-window window-title="'Step-Two'" is-activated="$ctrl.isActivated()" on-save="$ctrl.save()" on-cancel="$ctrl.cancel()">
  <ul>
    <li class="description">
      Add delayed step-off's to create various patterns.
    </li>
    <li class="section-header">
      <span>Initial State</span>
    </li>
    <li>
      <button ng-click="$ctrl.setInitialState('halt')" ng-class="{ 'active': $ctrl.initialState == 'halt' }" class="btn btn-default"
        title="Halt" data-toggle="tooltip" data-placement="bottom">
        <i class="fa fa-stop"></i>
      </button>
      <button ng-click="$ctrl.setInitialState('mark-time')" ng-class="{ 'active': $ctrl.initialState == 'mark-time' }" class="btn btn-default"
        title="Mark Time" data-toggle="tooltip" data-placement="bottom">
        <i class="fa fa-long-arrow-alt-up context-button"></i>
        <i class="fa fa-long-arrow-alt-down context-button"></i>
      </button>
    </li>
    <li class="section-header">
      <span>Delay Files</span>
    </li>
    <li>
      <spinner-box ng-model="$ctrl.fileDelay"></spinner-box>
    </li>
    <li>
      <file-delay-direction-buttons ng-model="$ctrl.fileDelayDirection"></file-delay-direction-buttons>
    </li>
    <li class="section-header">
      <span>Delay Ranks</span>
    </li>
    <li>
      <spinner-box ng-model="$ctrl.rankDelay" ng-change="$ctrl.onChange()"></spinner-box>
    </li>
    <li>
      <rank-delay-direction-buttons ng-model="$ctrl.rankDelayDirection"></rank-delay-direction-buttons>
    </li>
  </ul>
</tool-window>