div.add-bookmark-dialog .modal-lg {
    width: 500px;
}

ul.bookmark-list {
    max-height: 400px;
    overflow: scroll;
}

.bookmark-list .bookmark img {
    padding: 0;
    height: 16px;
    width: 16px;
}

.bookmark-list i.fa-times {
    color: red;
}

.bookmark-list i.fa-times:hover {
    font-size: 20px;
}

.bookmark-list.dropdown-menu {
    width: 300px;
}