.print-charts-dialog .modal-lg {
  width: 600px;
}

.print-charts-dialog .modal-body {
  max-height: 400px;
}

.print-charts-dialog .button-row {
  padding: 10px;
}

.print-charts-dialog .button-row div {
  height: 50px;
}

/* tabs */
.print-charts-dialog .tab {
  padding: 10px;
  border-left: solid 1px silver;
  border-right: solid 1px silver;
  border-bottom: solid 1px silver;
  height: 320px;
}

.print-charts-dialog .nav-tabs {
  margin-top: 10px;
}

.print-charts-dialog button.active {
  background-color: lightblue;
}

.print-charts-dialog .bookmark-list {
  list-style-type: none;
  padding: 5px;
  max-height: 300px;
  overflow-y: auto;
}

.print-charts-dialog .bookmark-list li {
  list-style-type: none;
  padding: 2px;
  display: flex;
}

.print-charts-dialog .bookmark-list li:hover {
  background-color: whitesmoke;
  cursor: pointer;
}

.print-charts-dialog .bookmark-list li div.check-box {
  width: 60px;
  flex: 0 1 auto;
  font-size: 14px;
  color: lightseagreen;
}

.print-charts-dialog .bookmark-list .bookmark-count {
  flex: 0 1 auto;
  font-size: 14px;
  width: 100px;
}

.print-charts-dialog .bookmark-list .bookmark-name {
  flex: 1 1 auto;
  font-size: 14px;
  max-width: 300px;
}
