<!-- Modal -->
<div class="print-charts-dialog modal fade" id="printChartsDialog" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="printChartsDialoglabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="printChartsDialogLabel">Print Charts</h4>
            </div>
            <div class="modal-body" style="min-height: 450px">
                <div class="row">
                    <div class="col-md-12">
                        <ul class="nav nav-tabs">
                            <li role="presentation" class="" ng-class="{ active: $ctrl.isTabActive('currentCount') }">
                                <a href="#" ng-click="$ctrl.setActiveTab('currentCount')">
                                    <h4>Current Count</h4>
                                </a>
                            </li>
                            <li role="presentation" class="" ng-class="{ active: $ctrl.isTabActive('bookmarks') }">
                                <a href="#" ng-click="$ctrl.setActiveTab('bookmarks')">
                                    <h4>Bookmarks</h4>
                                </a>
                            </li>
                        </ul>
                        <div class="tab" ng-show="$ctrl.isTabActive('currentCount')">
                            <div class="row">
                                <div class="col-md-12">
                                    <p>The chart will show the band formation at the current count ({{$ctrl.getCurrentCount()}}).</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <label class="control-label">Title</label>
                                    <input type="text" ng-model="$ctrl.name" class="form-control" placeholder="Enter a title for the chart." />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <label class="control-label">Notes</label>
                                    <textarea rows="4" ng-model="$ctrl.notes" class="form-control" placeholder="Enter notes to be shown on the chart."></textarea>
                                    <!-- <p>Enter notes to be shown on the chart.</p> -->
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <label class="control-label">Forecast counts:</label>
                                    <input type="number" ng-model="$ctrl.forecastCounts" class="form-control" />
                                    <!-- <p>Enter the number of counts to project forward, or 0 to show the current position only.</p> -->
                                </div>
                                <div class="col-md-9" style="margin-top: 20px;">
                                    Enter the number of counts to project forward, or 0 to show the current position only.
                                </div>
                            </div>
                        </div>
                        <div class="tab" ng-show="$ctrl.isTabActive('bookmarks')">
                            <div class="row">
                                <div class="col-md-12">
                                    <p>
                                        Choose which bookmarked counts will be printed.
                                    </p>
                                    <div>
                                        <a href="#" ng-click="$ctrl.selectAll()">Select All</a>
                                        <a href="#" ng-click="$ctrl.deselectAll()">Deselect All</a>
                                    </div>
                                    <ul class="bookmark-list">
                                        <li>
                                            <div class="check-box"></div>
                                            <div class="bookmark-count">Count</div>
                                            <div class="bookmark-name">Bookmark</div>
                                        </li>
                                        <li ng-click="$ctrl.toggleSelected(bookmark)" ng-repeat="bookmark in $ctrl.bookmarks()">
                                            <div class="check-box">
                                                <i class="fa fa-check" ng-show="$ctrl.isSelected(bookmark)"></i>
                                            </div>
                                            <div class="bookmark-count">{{bookmark.count}}</div>
                                            <div class="bookmark-name">
                                                <strong>{{bookmark.name}}</strong>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer button-row">
                <div class="row text-left">
                    <div class="col-md-12">
                        <small>NOTE: Clicking Print will open a new tab containing a PDF of your chart. If you use a pop-up blocker,
                            you may need to disable it for this site.</small>
                    </div>
                </div>
                <div class="col-md-8 text-left">
                    <input type="checkbox" ng-model="$ctrl.printInColor" /> Print marchers in color.
                </div>
                <div class="col-md-4">
                    <button ng-click="$ctrl.print()" type="button" class="btn btn-primary" data-dismiss="modal">Print</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>