<header></header>
<div class="reset-password">
    <div></div>
    <div class="panel panel-default">
        <div class="panel-body text-center">
            <form ng-submit="resetPassword()">
                <h3>Forgot your password?</h3>
                <p>Enter the email associated with your account and we will send you a link to reset your password.</p>
                <div class="reset-password-group">
                    <div class="form-group text-left">
                        <input ng-model="email" type="text" class="form-control" id="loginEmail" name="loginEmail" placeholder="Email">
                    </div>
                </div>
                <button type="submit" ng-click="forgotPassword()" class="btn btn-primary">
                    Send Password Reset Instructions
                </button>
            </form>
        </div>
        <div class="panel-footer">
            <span>
                <a href="/login">Login</a>
            </span>
            <span class="pull-right">
                <a href="/sign-up">Create new account</a>
            </span>
        </div>
    </div>
    <div></div>
</div>