.reset-password {
    padding-top: 25px;
    /* width: 640px; */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gainsboro;
    height: 100vh;
}

.reset-password div {
    flex: 1 1 auto;
}

.reset-password .panel-heading h3 {
    margin: 0;
    padding: 5px;
    text-align: center;
}

.reset-password div.panel {
    flex: 0 1 auto;
    /* height: 220px; */
    width: 300px;
}