.login {
    padding-top: 25px;
    /* width: 640px; */
    display: flex;
    background-color: gainsboro;
    height: 100vh;
}

.login div {
    flex: 1 1 auto;
}

.login div.panel {
    flex: 0 0 auto;
    height: 550px;
}