<div class="login">
    <div></div>
    <div class="panel panel-default">
        <div class="panel-body text-center">
            <img src="splash.JPG" />
            <div class="login-group">
                <div class="form-group text-left">
                    <label for="loginEmail" class="">Email</label>
                    <input ng-model="email" type="text" class="form-control" id="loginEmail" name="loginEmail" placeholder="Email">
                </div>
                <div class="form-group text-left">
                    <label for="loginPw" class="">Password</label>
                    <input ng-model="password" type="password" class="form-control" id="loginPw" name="loginPw" placeholder="Password">
                </div>
            </div>
            <button ng-click="test()"></button>
            <button ng-click="logIn()" class="btn btn-primary">
                Log In
            </button>
        </div>
        <div class="panel-footer">
            <span>
                <a href="#">Forgot password</a>
            </span>
            <span class="pull-right">
                <a href="#">Create new account</a>
            </span>
        </div>
    </div>
    <div></div>
</div>