<header></header>
<div class="login">
    <div></div>
    <div class="panel panel-default">
        <div class="panel-body text-center">
            <img src="splash.JPG" />
            <form ng-submit="logIn()">
                <div class="login-group">
                    <div class="form-group text-left">
                        <label for="loginEmail" class="">Email</label>
                        <input ng-model="email" type="text" class="form-control" id="loginEmail" name="loginEmail" placeholder="Email">
                    </div>
                    <div class="form-group text-left">
                        <label for="loginPw" class="">Password</label>
                        <input ng-model="password" type="password" class="form-control" id="loginPw" name="loginPw" placeholder="Password">
                    </div>
                    <div ng-show="true">
                        <div class="error">{{message}}</div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">
                    Log In
                </button>
            </form>
        </div>
        <div class="panel-footer">
            <span>
                <a href="/reset-password">Forgot password</a>
            </span>
            <span class="pull-right">
                <a href="/sign-up">Create new account</a>
            </span>
        </div>
    </div>
    <div></div>
</div>