<div draggable class="column-tool panel panel-default" ng-show="$ctrl.isActivated">
    <div class="panel-heading text-center drag-handle">
        <i class="fa fa-bars fa-sm drag-handle"></i> Column
    </div>
    <div id="dragStepTool" class="">
        <ul>
            <li class="description">
                <p>Add a Column maneuver at the current count. Turns the block left or right, transforming into a parallelogram.</p>
            </li>
            <li>
                <span>Turn Direction</span>
                <div class="turn-direction">
                    <button ng-click="$ctrl.setTurnDirection('left')" ng-class="{ 'active': $ctrl.turnDirection == 'left' }" class="btn btn-default"
                        title="Left Turn" data-toggle="tooltip" data-placement="left">
                        <i class="fas fa-long-arrow-alt-left"></i>
                    </button>
                    <button ng-click="$ctrl.setTurnDirection('right')" ng-class="{ 'active': $ctrl.turnDirection == 'right' }" class="btn btn-default"
                        title="Right Turn" data-toggle="tooltip" data-placement="right">
                        <i class="fas fa-long-arrow-alt-right"></i>
                    </button>
                </div>
            </li>
            <li>
                <span>Delay Files</span>
                <div class="input-group counts">
                    <span class="input-group-btn">
                        <button ng-click="$ctrl.setFileDelay($ctrl.fileDelay - 1)" class="btn btn-default" type="button">-</button>
                    </span>
                    <input ng-model="$ctrl.fileDelay" ng-change="$ctrl.setFileDelay()" type="number" class="form-control" />
                    <span class="input-group-btn">
                        <button ng-click="$ctrl.setFileDelay($ctrl.fileDelay + 1)" class="btn btn-default" type="button">+</button>
                    </span>
                </div>
                <div class="reverse">
                    <div class="reverse-checkbox">
                        <input type="checkbox" ng-change="$ctrl.setReverseFlag()" ng-model="$ctrl.reverse" />
                    </div>
                    <div class="reverse-label">Undo Column</div>
                </div>
            </li>
            <li>
                <button ng-click="save()" id="saveDragStep" class="btn btn-default save-button" data-toggle="tooltip" data-placement="right"
                    title="Save">
                    <i class="fa fa-check context-button"></i>
                </button>
                <button ng-click="cancel()" id="cancelDragStep" class="btn btn-default cancel-button" data-toggle="tooltip" data-placement="right"
                    title="Cancel">
                    <i class="fa fa-times context-button"></i>
                </button>
            </li>
        </ul>
    </div>

</div>