<div id="playbackControls" class="playback-controls">

    <!-- <div class="panel-body"> -->

    <!-- old timeline stuff -->
    <div id="playbackToolbar" class="btn-toolbar" role="toolbar">

        <!-- playback, go to beginning, etc -->
        <div class="btn-group btn-group-sm" role="group">
            <button id="goToBeginning" ng-click="$ctrl.onGoToBeginning()" class="btn btn-default" data-toggle="tooltip" data-placement="bottom"
                title="Go To Beginning">
                <i class="fa fa-fast-backward"></i>
            </button>
            <button id="play" ng-click="$ctrl.onPlay(false)" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="Play">
                <i class="fa fa-play"></i>
            </button>
            <button id="play" ng-click="$ctrl.onPlay(true)" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="Play">
                <i class="fa fa-music"></i>
                <i class="fa fa-play"></i>
            </button>
            <button id="stop" ng-click="$ctrl.onStop()" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="Stop">
                <i class="fa fa-stop"></i>
            </button>
            <button id="goToEnd" ng-click="$ctrl.onGoToEnd()" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="Go To End">
                <i class="fa fa-fast-forward"></i>
            </button>
        </div>

        <!-- count, step forward and backward -->
        <div class="btn-group btn-group-sm" role="group">
            <div id="currentCountGroup" class="input-group input-group-sm">
                <span class="input-group-btn">
                    <button id="stepBackward" ng-click="$ctrl.onStepBackward()" class="btn btn-default" data-toggle="tooltip" data-placement="bottom"
                        title="Backward 1 Count">
                        <i class="fa fa-step-backward"></i>
                    </button>
                </span>
                <input ng-enter="$ctrl.onCountChange()" ng-blur="$ctrl.onCountChange()" id="currentCount" type="text" class="form-control"
                    aria-label="Current Count" ng-model="$ctrl.currentCount" data-toggle="tooltip" data-placement="bottom" title="Current Count"
                />
                <span class="input-group-btn">
                    <button id="stepForward" ng-click="$ctrl.onStepForward()" class="btn btn-default" data-toggle="tooltip" data-placement="bottom"
                        title="Forward 1 Count">
                        <i class="fa fa-step-forward"></i>
                    </button>
                </span>
            </div>
        </div>

        <!-- bookmarks -->
        <div class="btn-group btn-group-sm dropup" role="group">
            <!-- <button type="button" class="btn btn-default bookmark dropdown-toggle" data-toggle="dropdown">
                <img src="/icons/bookmark-2.svg" />
            </button>
            <ul class="dropdown-menu">
                <li id="direction-picker-N" data-value="N">
                    <a href="#" ng-click="setDirection(0)">
                        <i class="fa fa-caret-up fa-lg"></i>
                    </a>
                </li>
            </ul> -->
            <bookmark-list drill="$ctrl.drill"></bookmark-list>
        </div>

        <!-- tempo -->
        <div class="btn-group btn-group-sm" role="group">
            <div id="tempoGroup" class="input-group input-group-sm" data-toggle="tooltip" data-placement="bottom" title="Tempo">
                <span class="input-group-btn">
                    <button id="tempoMinus" ng-click="tempo = tempo - 1" class="btn btn-default" type="button">-</button>
                </span>
                <input id="tempo" type="text" class="form-control" aria-label="Tempo" ng-model="tempo">
                <span class="input-group-btn">
                    <button id="tempoPlus" ng-click="tempo = tempo + 1" class="btn btn-default" type="button">+</button>
                </span>
            </div>
        </div>

        <!-- metronome -->
        <div class="btn-group btn-group-sm" role="group">
            <button class="btn btn-default metronome" ng-class="{ 'active': $ctrl.isMetronomeEnabled }" ng-click="$ctrl.toggleMetronome()">
                <img src="/icons/metronome.svg" />
            </button>
            <!-- <input type='checkbox' class="" ng-model="$ctrl.isMetronomeEnabled" /> Metronome -->
        </div>

        <!-- printing -->
        <div class="btn-group btn-group-sm" role="group">
            <a class="btn btn-default" ng-href="/about" target="_blank">+</a>
            <!-- <button class="btn btn-default" ng-class="{ 'active': $ctrl.isMetronomeEnabled }" ng-click="">
                +
            </button> -->
        </div>

        <!-- position indicator -->
        <div class="btn-group btn-group-sm pull-right" role="group">
            <div class="btn">{{currentPosition}}</div>
        </div>
        <div class="btn-group btn-group-sm pull-right" role="group">
            <div class="btn">{{membersSelected}}</div>
        </div>
    </div>

    <timeline drill="$ctrl.drill"></timeline>
</div>