<!-- Modal -->
<div class="open-drill-dialog modal fade" id="openDrillDialog" tabindex="-1" role="dialog" aria-labelledby="openDialoglabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="openDialogLabel">Open Drill</h4>
            </div>
            <div class="modal-body" style="min-height: 450px">

                <div class="input-group">
                    <input type="search" ng-change="setSearchText()" ng-model="searchText" class="form-control" placeholder="Search">
                    <span class="input-group-btn">
                        <button ng-click="searchText = ''" class="btn btn-default" type="button">
                            <i class="fa fa-times-circle"></i>
                        </button>
                    </span>
                    <span class="input-group-addon">
                        <input type="checkbox" ng-model="searchOptions.searchMyDrills" />&nbsp;
                        <i class="fa fa-file-audio-o"></i>&nbsp;My Drills
                    </span>
                    <span class="input-group-addon">
                        <input type="checkbox" ng-model="searchOptions.searchSharedDrills" />&nbsp;
                        <i class="fa fa-scissors"></i>&nbsp;Shared With Me
                    </span>
                </div>

                <div class="">
                    <ul class="list-group">
                        <li class="list-group-item drill-item" pagination-id="openDrill" dir-paginate="drill in drills | itemsPerPage: perPage" total-items="drillCount" current-page='page'>
                            <div class="drill-item-header">
                                <div class="drill-name">
                                    <a ng-click="open(drill)" data-toggle="modal" data-target="#openDrillDialog">
                                        <h3 class="drill-title">{{drill.name}}</h3> 
                                    </a>
                                </div>
                                <div class="drill-delete">
                                    <i>{{ isCurrentDrill(drill) ? '(currently open)' : '' }}</i>
                                    <a ng-show="canDelete(drill)" ng-click="delete(drill)">
                                        <i class="fa fa-trash fa-lg delete-button"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="drill-desc">
                                {{drill.description}}
                            </div>
                            <div class="drill-item-footer">
                                <div class="drill-owner">Owned by {{drill.owner}}</div>
                                <div class="drill-last-edited">Last edited {{drill.updatedDate | date}}</div>
                            </div>
                        </li>
                    </ul>

                    <!-- <a class="list-group-item" dir-paginate="drill in drills | itemsPerPage: perPage" total-items="drillCount" current-page='page'>
                        <table width="100%">
                            <tr>
                                <td class="drill-desc">
                                    <div>
                                        <a ng-click="open(drill)" data-toggle="modal" data-target="#openDrillDialog">
                                            <h3 class="drill-title">{{drill.name}}</h3>
                                        </a>
                                    </div>
                                    <p>
                                        {{drill.description}}
                                    </p>
                                    <table width="100%">
                                        <tr>
                                            <td class="small-text">Owned by {{drill.owner}}</td>
                                            <td class="small-text">Last edited {{drill.updatedDate | date}}</td>
                                        </tr>
                                    </table>
                                </td>
                                <td>
                                    <a ng-show="canDelete(drill)" ng-click="delete(drill)">
                                        <i class="fa fa-times fa-lg delete-button"></i>
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </a>
                </div> -->

                </div>
            </div>
            <div class="modal-footer button-row">
                <div class="col-md-9">
                    <dir-pagination-controls pagination-id="openDrill" on-page-change="pageChanged(newPageNumber)" class=""></dir-pagination-controls>
                </div>
                <div class="col-md-3">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>