.keyboard-shortcuts {
    position: absolute;
    top: 50px;
    left: 80vw;
    width: 200px;
    z-index: 100;
}

.keyboard-shortcuts .panel-heading {
    padding: 5px;
    background-color: lightgray;
    color: black;
}

.keyboard-shortcuts .panel-heading i {
    cursor: pointer;
}

.keyboard-shortcuts .panel-body {
    padding: 0px;
}

.keyboard-shortcuts .panel-body ul {
    padding: 0;
}

.keyboard-shortcuts .panel-body li {
    list-style-type: none;
    display: flex;
    border-bottom: solid 1px gray;
}

.keyboard-shortcuts .panel-body li.divider {
    background-color: whitesmoke;
    text-align: center;
    font-size: 12px;
}

.keyboard-shortcuts .panel-body li div {
    flex: 1 1 auto;
}

.keyboard-shortcuts .panel-body li div.shortcut-description {
    background-color: whitesmoke;
    max-width: 40%;
    min-width: 40%;
    padding: 5px;
    font-size: 12px;
}

.keyboard-shortcuts .panel-body li div.shortcut {
    padding: 5px;
    font-size: 12px;
}
