.forgot-password {
    padding-top: 25px;
    /* width: 640px; */
    display: flex;
    background-color: gainsboro;
    height: 100vh;
}

.forgot-password div {
    flex: 1 1 auto;
}

.forgot-password div.panel {
    flex: 0 0 auto;
    height: 300px;
    width: 600px;
}

.forgot-password div.panel-body {
    min-height: 260px;
}

.forgot-password .sent-message {
    padding-top: 10px;
}