<header></header>
<div class="forgot-password">
    <div></div>
    <div class="panel panel-default">
        <div class="panel-body text-center">
            <div ng-show="!hasResetToken()">
                <form ng-submit="forgotPassword()">
                    <h3>Forgot your password?</h3>
                    <p>Enter the email associated with your account and we will send you a link to reset your password.</p>
                    <div class="forgot-password-group">
                        <div class="form-group text-left">
                            <input ng-model="email" type="text" class="form-control" id="loginEmail" name="loginEmail" placeholder="Email">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">
                        Send Password Reset Instructions
                    </button>
                </form>
                <div ng-show="showSentMessage" class="sent-message">
                    <p>An email with a password reset link has been sent to your email address. Click the link in the email
                        to set a new password. This reset link is only valid for the next 24 hours.</p>
                </div>
            </div>
            <div ng-show="hasResetToken()">
                <form ng-submit="resetPassword()">
                    <p>Enter your new password below.</p>
                    <div class="reset-password-group">
                        <div class="form-group text-left">
                            <input ng-model="password" type="password" class="form-control" id="password" name="password" placeholder="New Password">
                        </div>
                    </div>
                    <button type="submit" ng-click="setNewPassword()" class="btn btn-primary">
                        Change Password
                    </button>
                </form>
                <div ng-show="showErrorMessage" class="sent-message">
                    <p>{{message}}</p>
                    <p><a href="/forgot-password/">Click here</a> to send new password reset instructions.</p>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <span>
                <a href="/login">Login</a>
            </span>
            <span class="pull-right">
                <a href="/sign-up">Create new account</a>
            </span>
        </div>
    </div>
    <div></div>
</div>