.timeline {
    width:100%;
    font-size: 8pt;
    padding: 0;
}

#timeline {
    padding: 2px;
}

.timeline .close-button {
    cursor: pointer;
}

.timeline button {
    text-align: left;
    font-size: 10px;
    padding: 5px;
}

.timeline .vis-background {
    background-color: white;
}

.timeline .vis-item {
    color: white;
    padding-left: 5px;
    padding-right: 5px;
}

.timeline .vis-item.tempo {
    /* background-color: #284B63; 1E3749 3B5B71 */
    background-color: paleturquoise;
    color: black;
}

.timeline .vis-item.music {
    /* background-color: #284B63; 1E3749 3B5B71 */
    background-color: #284B63;
}

.timeline .vis-item.bookmark {
    /* background-color: #40703B;  */
    background-color:gold;
    color: black;
}

.timeline .vis-item.vis-dot.bookmark {
    border-color: gold;
    color: white;
}

.timeline .vis-item .vis-item-content {
    padding: 1px;
}

.timeline .vis-item .vis-delete {
    top: -6px;
}

#timeline-page-left {
    height: 95px;
}

#timeline-page-right {
    height: 95px;
}

.timeline-container {
    width: calc(100% - 45px);
}

div.inline { float:left; }
.clearBoth { clear:both; }


