<div id="timeline" class="timeline">
    <div class="inline">
        <button id="timeline-page-left" ng-click="$ctrl.pageBackward()" class="btn btn-default" data-toggle="tooltip" data-placement="top"
            title="Scroll Timeline Backward">
            <i class="fa fa-step-backward"></i>
        </button>
    </div>
    <div class="inline timeline-container">
        <div id="timelineContainer"></div>
    </div>
    <div class="inline ">
        <button id="timeline-page-right" ng-click="$ctrl.pageForward()" class="btn btn-default" data-toggle="tooltip" data-placement="top"
            title="Scroll Timeline Forward">
            <i class="fa fa-step-forward"></i>
        </button>
    </div>
    <timeline-context-menu></timeline-context-menu>
    <tempo-dialog></tempo-dialog>
    <!-- </div> -->

</div>