<div draggable class="tool-window panel panel-default" ng-show="$ctrl.isActivated">
    <div class="panel-heading text-center drag-handle">
        <i class="fa fa-bars fa-sm drag-handle"></i> {{$ctrl.windowTitle}}
    </div>
    <div id="toolWindow" class="">
        <div>
            <ng-transclude></ng-transclude>
        </div>
        <ul>
            <li>
                <button ng-click="save()" id="saveDragStep" class="btn btn-default save-button" data-toggle="tooltip" data-placement="right"
                    title="Save">
                    <i class="fa fa-check context-button"></i>
                </button>
                <button ng-click="cancel()" id="cancelDragStep" class="btn btn-default cancel-button" data-toggle="tooltip" data-placement="right"
                    title="Cancel">
                    <i class="fa fa-times context-button"></i>
                </button>
            </li>
        </ul>
    </div>

</div>