.tool-window {
    position: absolute;
   background-color: gainsboro;
   width: 110px;
   left: 150px;
   top: 100px;
   z-index: 100;
}

.tool-window div.panel-heading {
    font-size: 12px;
}

.tool-window ul {
    margin: 0;
    width: 100%;
    padding: 0px;
}

.tool-window li {
    list-style-type: none;
    margin-top: 0px;
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}

.tool-window li.description {
    font-size: 10px;
    background-color: #fff;
    padding: 5px;
}

.tool-window li.section-header {
    display: inline-block;
    color: black;
    background-color: #e6e6e6;
    width: 100%;
    text-align: center;
}

.tool-window li.section-header span {
    flex: 1 1 100%;
    color: black;
    font-size: 10px;
}
/* .tool-window li span {
    flex: 1 1 100%;
    color: black;
    background-color: #e6e6e6;
    text-align: center;
    font-size: 10px;
} */

.tool-window li div.turn-direction {
    display: flex;
    width: 100%;
}

.tool-window li button {
    flex: 1 1 auto;
    border-radius: 0;
    padding: 5px;
}

.tool-window button.active {
    background-color: #e6e6e6;
}

.tool-window input {
    color: black;
    text-align: center;
    height: 32px;
    padding-left: 16px;
    padding-right: 8px;
}

.tool-window .counts button {
    width: 20px;
    height: 32px;
}
            
.tool-window .turn-mode-button span {
    font-size: 12px;
}

.tool-window .save-button i {
    color: green;    
}

.tool-window .cancel-button i {
    color: red;    
}

