.add-member-tool {
    -visibility: hidden;
    position: absolute;
    z-index: 100;
}

.add-member-tool ul.dropdown-menu {
    min-width: 200px;
}

.add-member-tool .dropdown-menu li {
    width: 40px;
}

.add-member-tool ul.dropdown-menu.direction-picker {
    min-width: 160px;
}

.add-member-tool .panel-body, .panel-heading {
    padding: 0;
}

.add-member-tool .save-button {
    color: green;
}

.add-member-tool .cancel-button {
    color: red;
}