<div class="context-menu" ng-show="$ctrl.isActivated">
    <div class="dropdown open">
        <ul class="dropdown-menu">
            <li>
                <a href="#" ng-click="$ctrl.selectAll()">Select All</a>
            </li>
            <li>
                <a href="#" ng-click="$ctrl.deselectAll()">Deselect All</a>
            </li>
            <li class="dropdown-submenu">
                <a tabindex="-1" href="#">Selection</a>
                <ul class="dropdown-menu">
                    <li>
                        <a ng-click="$ctrl.selectXandO()" tabindex="-1" href="#">
                            Xs and Os
                        </a>
                    </li>
                    <li>
                        <a ng-click="$ctrl.selectAlternatingFiles()" tabindex="-1" href="#">
                            Alternating Files
                        </a>
                    </li>
                    <li>
                        <a ng-click="$ctrl.selectAlternatingRanks()" tabindex="-1" href="#">
                            Alternating Ranks
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#" ng-click="$ctrl.hideUnselected()">Hide Unselected</a>
            </li>
            <li>
                <a href="#" ng-click="$ctrl.showUnselected()">Show Unselected</a>
            </li>
            <li class="dropdown-submenu">
                <a tabindex="-1" href="#">Marcher Colors</a>
                <ul class="dropdown-menu">
                    <li ng-repeat="instrument in $ctrl.instruments">
                        <a ng-click="$ctrl.setColor(instrument.name)" tabindex="-1" href="#">
                            <i class="fa fa-stop" ng-style="$ctrl.getColorStyle(instrument.name)"></i> {{instrument.name}}
                        </a>
                    </li>
                </ul>
            </li>
            <li role="separator" class="divider"></li>
            <li>
                <a href="#" ng-click="$ctrl.deleteForward()">Delete Forward...</a>
            </li>
            <li role="separator" class="divider"></li>
            <li>
                <a href="#" ng-click="$ctrl.addMarchers()">Add Marchers...</a>
            </li>
            <li>
                <a href="#" ng-click="$ctrl.deleteMarchers()">Delete Marchers...</a>
            </li>
        </ul>
    </div>
</div>