<div class="rank-delay-direction-buttons">
    <button ng-click="$ctrl.setRankDelayDirection('left-to-right')" ng-class="{ 'active': $ctrl.rankDelayDirection == 'front-to-back' }"
        class="btn btn-default" title="Front-to-back" data-toggle="tooltip" data-placement="bottom">
        <i class="fas fa-long-arrow-alt-down"></i>
    </button>
    <button ng-click="$ctrl.setRankDelayDirection('right-to-left')" ng-class="{ 'active': $ctrl.rankDelayDirection == 'back-to-front' }"
        class="btn btn-default" title="Back-to-front" data-toggle="tooltip" data-placement="bottom">
        <i class="fas fa-long-arrow-alt-up"></i>
    </button>
</div>