<header></header>
<div class="sign-up">
    <div></div>
    <div class="panel panel-default">
        <div class="panel-heading text-center">
            <h3 class="panel-title">Sign Up</h3>
        </div>
        <div class="panel-body text-center">
            <form ng-submit="signUp()">
                <div class="sign-up-group">
                    <div class="form-group text-left">
                        <label for="signUpName" class="">Name</label>
                        <input ng-model="name" type="password" class="form-control" id="signUpName" name="signUpName" placeholder="Name">
                    </div>
                    <div class="form-group text-left">
                        <label for="signUpOrgName" class="">Organization</label>
                        <input ng-model="orgName" type="text" class="form-control" id="signUpOrgName" name="signUpOrgName" placeholder="Organization Name">
                    </div>
                    <hr/>
                    <div class="form-group text-left">
                        <label for="signUpEmail" class="">Email</label>
                        <input ng-model="email" type="text" class="form-control" id="signUpEmail" name="signUpEmail" placeholder="Email">
                    </div>
                    <div class="form-group text-left">
                        <label for="signUpPw" class="">Password</label>
                        <input ng-model="password" type="password" class="form-control" id="signUpPw" name="signUpPw" placeholder="Password">
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">
                    Create Account
                </button>
            </form>
        </div>
        <div class="panel-footer">
            <p>Already registered?
                <a href="/login">Log In</a>
            </p>
        </div>
    </div>
    <div></div>
</div>