<div draggable id="designTool" class="design-tool panel panel-default" ng-show="$ctrl.isActivated">

    <div class="panel-heading text-left drag-handle">
        <i class="fa fa-bars fa-sm drag-handle"></i> &nbsp; Tools
    </div>
    <div class="panel-body">
        <div id="designToolbar" class="floating-toolbar btn-group-vertical">

            <div class="btn-group" style="display: flex;">
                <input type="checkbox" name="stride-type-switch" data-off-text="6/5" data-on-text="8/5" data-off-color="primary" data-label-text="Stride" data-size="mini" data-label-width="84px">
            </div>

            <div class="btn-group" style="display: flex;">
                <button ng-click="addMembers()" id="addMembers" type="button" class="btn btn-default" title="Add Members">
                    <i class="fa fa-play fa-rotate-270"></i>&nbsp;Add Members</button>
                </button>
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                    style="width: 25px;">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <a href="#" ng-click="addMembers()">Add Members</a>
                    </li>
                    <li>
                        <a href="#" ng-click="deleteSelectedMembers()">Delete Selected Members</a>
                    </li>
                </ul>
            </div>

            <!-- add steps -->
            <div class="btn-group" style="display: flex;">
                <button id="addStepsTool" ng-click="addSteps()" type="button" class="btn btn-default" title="Add Step-by-step">
                    <i class="fa fa-pencil"></i>&nbsp;Add Steps
                </button>
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                    style="width: 25px;">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <a ng-click="deleteBackspace()" href="#">Bakckup and Delete (Alt + Backspace)</a>
                    </li>
                    <li>
                        <a ng-click="deleteForward()" href="#">Delete Forward</a>
                    </li>
                </ul>
            </div>


            <!-- draw paths -->
            <div class="btn-group" style="display: flex;">
                <button id="drawPathTool" ng-click="drawPath()" type="button" class="btn btn-default" title="Draw paths for members to follow">
                    <i class="fa fa-pencil"></i>&nbsp;Draw Paths
                </button>
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                    style="width: 25px;">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <a href="#">Edit Paths</a>
                    </li>
                    <li>
                        <a ng-click="showPaths()" href="#">Show/Hide Paths</a>
                    </li>
                    <li>
                        <a ng-click="deleteBackspace()" href="#">Bakckup and Delete (Alt + Backspace)</a>
                    </li>
                    <li>
                        <a ng-click="deleteForward()" href="#">Delete Forward</a>
                    </li>
                </ul>
            </div>

            <div class="btn-group" style="display: flex;">
                <button ng-click="selectAll()" type="button" class="btn btn-default">Select All</button>
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                    style="width: 25px;">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu">
                    <li data-value="">
                        <a href="#" ng-click="selectAll()">Select All</a>
                    </li>
                    <li data-value="">
                        <a href="#" ng-click="deselectAll()">Deselect All</a>
                    </li>
                    <li data-value="">
                        <a href="#" ng-click="">Select Followers</a>
                    </li>
                    <li data-value="">
                        <a href="#" ng-click="hideUnselected()">Hide Unselected</a>
                    </li>
                    <li data-value="">
                        <a href="#" ng-click="showAll()">Show All</a>
                    </li>
                </ul>
            </div>

        </div>

    </div>

</div>