.design-tool {
    position: absolute;
    z-index: 2;
    top: 0px;
    left: -95px;
    width: 110px;
}

#designToolbar {
    width: 110px;
}

/* .design-tool .btn-group button {
    width: 80px;
} */

.design-tool .btn-group-vertical > .btn, 
.design-tool .btn-group-vertical > .btn-group, 
.design-tool .btn-group-vertical > .btn-group > .btn .design-tool button {
    width: 110px;
}

.design-tool button.btn.btn-default.dropdown-toggle {
    width: 25px;
}

.design-tool div.panel-heading {
    margin-left: 5px;
}

.design-tool .panel-body {
    padding: 0;
}

.design-tool .panel-body button {
    text-align: left;
    font-size: 10px;
}

.design-tool .dropdown-menu li {
    font-size: 10px;
}
/* .select-all i:nth-child(1){
    color: lightgray;    
    font-size: 34px;
    top: -3px;
    left: 1px;
} */

.select-all {
    font-size: 10px;
}

.select-all-background {
    color: lightgray;    
    font-size: 26px;
    top: -3px;
    left: -1px;
}

.select-all-outline {
    color: yellow;    
    left: -1px;
    top: -1px;
    font-size: 22px;
}

.deselect-all-outline {
    color: black;
    left: -1px;
    top: -1px;
    font-size: 22px;
}

.select-all-inner {
    color: red;
    left: -2px;
    font-size: 14px;
}

/* .select-all i:nth-child(3){
    color: red;    
    left: -2px;
    font-size: 18px;
}

.deselect-all i:nth-child(2){
    color: red;
    left: -2px;
    font-size: 18px;
} */

