<div class="file-delay-direction-buttons">
    <button ng-click="$ctrl.setFileDelayDirection('left-to-right')" ng-class="{ 'active': $ctrl.ngModel == 'left-to-right' }"
        class="btn btn-default" title="Left-to-right" data-toggle="tooltip" data-placement="bottom">
        <i class="fas fa-long-arrow-alt-right"></i>
    </button>
    <button ng-click="$ctrl.setFileDelayDirection('right-to-left')" ng-class="{ 'active': $ctrl.ngModel == 'right-to-left' }"
        class="btn btn-default" title="Right-to-left" data-toggle="tooltip" data-placement="bottom">
        <i class="fas fa-long-arrow-alt-left"></i>
    </button>
</div>