<!-- Modal -->
<div class="audio-clip-dialog modal fade" id="audioClipDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Audio Clip</h4>
            </div>
            <div class="modal-body" style="min-height: 450px">

                <div class="row">
                    <div class="col-md-12 text-left">
                        <p>
                            <i class="fa fa-info-circle "></i>&nbsp;Drag the mouse on the sound wave to select only a portion of the music for use. You
                            can move and drag each end of the selection to refine it. Use the zoom buttons to zoom in for
                            more precise control.
                        </p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div id="waveform" ng-click="playPause()"></div>
                        <div id="wave-timeline"></div>
                    </div>
                </div>

                <div class="row">

                    <div class="col-md-3 form-group-sm">
                        <div class="row">
                            <div class="col-md-1">
                                <button class="btn btn-default btn-sm" ng-click="$ctrl.zoomOut()">
                                    <i class="glyphicon glyphicon-zoom-out zoom-out"></i>
                                </button>
                            </div>
                            <div class="col-md-4">
                                <input id="slider" type="range" min="1" max="50" value="1" style="top: 20px" />
                            </div>
                            <div class="col-md-1">
                                <button class="btn btn-default btn-sm" ng-click="$ctrl.zoomIn()">
                                    <i ng-click="$ctrl.zoomIn()" class="glyphicon glyphicon-zoom-in zoom-in"></i>
                                </button>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-6 text-center form-group-sm">
                        <button ng-click="$ctrl.play()" class="btn btn-default btn-sm">
                            <i class="fa fa-play"></i> /
                            <i class="fa fa-pause"></i>
                        </button>
                    </div>

                    <div class="col-md-3 text-right form-group-sm">
                        <button ng-click="$ctrl.clearRegion()" class="btn btn-default btn-sm">Clear Selection</button>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <p/>
                        <p class="text-left">
                            <i class="fa fa-info-circle "></i>&nbsp;Make sure the number of
                            <b>counts</b> and
                            <b>tempo</b> are set correctly, either by entering them manually or by tapping the spacebar in time
                            with the music (the clip will start playing on first tap).</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2 form-group-sm">
                        <label class="control-label">Counts</label>
                        <input type="number" ng-model="$ctrl.counts" ng-required='true' class="form-control" />
                    </div>
                    <div class="col-md-2 form-group-sm">
                        <label class="control-label">Tempo</label>
                        <input type="number" ng-model="$ctrl.tempo" ng-required='true' class="form-control" />
                    </div>
                    <div class="col-md-2 form-group-sm">
                        <label class="control-label">Duration</label>
                        <input type="text" ng-model="$ctrl.formattedDuration()" ng-model-options="{ getterSetter: true }" class="form-control" />
                    </div>
                    <div class="col-md-5 form-group-sm">
                        <label class="control-label">Title</label>
                        <input type="text" ng-model="$ctrl.title" class="title form-control" />
                    </div>
                    <div class="col-md-1 form-group-sm">
                            <label class="control-label">Public</label>
                            <input type='checkbox' class="form-control" ng-model="$ctrl.isPublic" />
                        </div>
                    </div>

                <div class="row">
                </div>
            </div>
            <div class="modal-footer">
                <div class="col-md-3 text-left">
                    <button ng-click="$ctrl.saveClip()" ng-disabled="!$ctrl.isSavable()" type="button" class="btn btn-default ">Save Clip to Library</button>
                </div>
                <div class="col-md-6">
                </div>
                <div class="col-md-3 text-right">
                    <button type="button" ng-disabled="!$ctrl.isValid()" ng-click="$ctrl.addAudioClip()" class="btn btn-default" data-dismiss="modal">Add to Drill</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>
</div>