
.audio-clip-dialog {
    padding: 10px;
}

.audio-clip-dialog p {
    font-size: 10pt;
}

.audio-clip-dialog .small-text {
    font-style: italic;
    font-size: 10pt;
}

.audio-clip-dialog .delete-button {
    color: red;
    cursor: pointer;
}

.audio-clip-dialog input {
}

.audio-clip-dialog input.title {
    width: 100%;
}

.audio-clip-dialog .zoom-in {
    cursor: pointer;
}

.audio-clip-dialog .zoom-out {
    cursor: pointer;
}

.audio-clip-dialog #slider {
    width: 60px;
}